*{
    margin: 10;
    padding: 10;
    font-family: sans-serif;
}
body{
 width: 100;
 height: 100vh;
 background-image: linear-gradient(rgba(4,9,30,0.7),
 rgba(4,9,30,0.7)),url(images/bg.jpg);
 background-size: cover;
 background-position: center;
}
h1{
   color: #ff0844;
}
h2{
    color: #c76802;
}
h2 a{
    color: #cca5bb;
}
p{
    color: #d1ae71;
    font-size: 25px;
}
h3{
    font-size: 25px;
    color: #75ebbc;
    margin: 10px 0;
    margin-left: 10px;
}
h3 a{
    color: #84b9e8;
}
ul{
    text-decoration: none;
    color: #84996e;
}
table tr{
    color: #98b0d6;
    padding: 100px 200px;
}
header ul li{
    list-style: none;
    display: inline-flex;
}
header ul li a{
    color: darkorange;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 6px 20px;
}
label{
    color: #28bd84;
}
ol{
    color: #15d5eb;
}
ol li a{
    color: #15d5eb;
}
.repair{
    height: 200px;
    width: 200;
}
.phone{
    height: 200px;
    width: 200;
}
.shop{
    height: 200px;
    width: 200;
}
.right-col{
    float: right;
    margin-right: 6;
    margin-top: 1000;
    display: flex;
    align-items: center;
    padding: 6px 20px;
}
.right-col p{
    font-size: 18px;
    color: limegreen;
    font-weight: 400;
    margin right: 40px;
    padding: 0 1rem;
}
#icon{
    width: 80px;
    cursor: pointer;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 120;
    height: 100;
    overflow: hidden;
    transition: 0.5s;
}
.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.container .box .content h2{
    color: #610114;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 40px;
    transform: translateY(200px);
}
.container .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0.6s;
}
h5{
    font-size: 29px;
    color: #426c9e;
}
